$color-orange: #ffa500;
$color-blue: #4a08ff;
$color-blue-dark: #3406b3;
$color-white: #f5f5f5;
$color-white-1: #dedede;
$color-white-hover: #c8baba;
$color-grey: #343231;
$color-black: #0a0b12;

$color-jsx: #ffdb0f;
$color-tsx: #08adff;
$color-scss: #cc6699;
